* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);}
nav a, h2 {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #1F2630;
    text-transform: uppercase;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

p {
    font-size: 16px;
}
h3 {
    font-size: 21px;
}

p, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2630;
}
.subheaderText {
    font-size: 21px;
    color: #F7F7F7;
}

header {
    width: 100vw;
    height: 100px;
}
nav {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
nav a {
    line-height: 100px;
}
nav a img {
    margin-top: 10px;
}

#projectTiles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#projectTiles li {
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 356px;
    text-align: center;
}

#projectTiles li div {
    max-width: 305px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#projectTiles li div h2 {
    color: #F7F7F7;
}

#projectTiles li:hover {
    cursor: pointer;
}

/* about styles */
#aboutPage {
    width: 600px;
    height: 550px;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%)
}
#aboutPage > img{
    width: 260px;
    height: 260px;
    border-radius: 100%;
    border: none;
    display: block;
    margin: 0 auto;
}
#aboutPage h2 {
    text-align: center;
    margin: 20px 0;
}
#aboutPage div {
    display: flex;
    margin: 24px 0;
}
#aboutPage div ul{ 
    width: 50%;
    display: flex;
}
#aboutPage div ul li {
    margin-right: 24px;
}
#aboutPage div ul li a {
    font-family: Arial, Helvetica, sans-serif;

}

@media only screen and (max-width: 500px) {
    #projectTiles li {
        width: 100%;
    }
    #aboutPage {
        padding: 16px;
        width: calc(100% - 32px);
        height: 550px;
        position: relative;
        top: 0;
        left: 0;
        transform: none
    }
    #aboutPage > img{
        width: 50vw;
        height: 50vw;
    }
    #aboutPage div{ 
        flex-direction: column;
    }
    #aboutPage div ul {
        margin-bottom: 24px;
        width: 100%;
    }

}